img {
    width: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
}

a {
    text-decoration: none;
}

li {
    margin: 10px;
}

.title {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
}